
.sub-menu2 li{
	text-indent: 13px;
}

.sub-menu2>li a:before {
	content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 3px;
    writing-mode: vertical-rl;
    font-size: 8px;
}

.list-category ul li a {
	text-decoration: none;
	line-height: 1.5;
}

.list-category ul li {
	padding: 5px;
	margin-bottom: 1px !important;
}

.sub-menu3 li{
	text-indent: 32px;
}

.course-category, .menu-left {
	box-shadow: 0 3px 15px #a7dfba;
}