/*@import "theme.min.css?v=2.1";*/
@import "menu.css?v=2.1";
/*@import "navbar.css";*/
.bg--main {
    background-color: #6DBC2F;
}
.clr--white {
    color: #fff;
}
.footer__right img {
    max-height: 75px !important;
    margin-left: 15px;
    width: auto !important;
}
.clr--white {
    color: #fff;
}
@media only screen and (min-width: 768px){
.row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
}
.upper {
    text-transform: uppercase;
}
.clr--silver {
    color: rgba(255, 255, 255, 0.75);
}
.right {
    float: right;
}
.left {
    float: left;
}
@media only screen and (min-width: 1366px){
	footer {
	    padding: 15px 0;
	}
}
ul.navbar-nav {
    padding-top: 15px;
}

/* custom */
.menu-left {
    background: #fff;
    padding: 5px;
    padding-left: 20px;
}
ul{
    padding: 0;
}
ul li {
    list-style: none;
    margin-bottom: 5px;
}
.menu-left ul li {
    width: 100%;
    padding-left: 10px;
}
.title {
    color: #333;
    font-size: 14px;
    line-height: 45px;
    display: block;
    position: relative;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
}
h1{
    font-size: 2.25em;
    margin: .67em 0 .5em;
    line-height: 1.25;
    letter-spacing: -.02em;
}
.breadcrumb ul li::after {
    font-family: 'FontAwesome';
    content: '\f105';
    color: #757575;
    margin: 0 10px 0 5px;
}
.breadcrumb ul li:last-child:after
{
  content: '';
}

.breadcrumb ul li {
    float: left;
}
.breadcrumb ul li a {
    line-height: 35px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
.breadcrumb {
    display: inline-block;
    width: 100%;
    background-color: unset;
    margin: 5px 0;
}
.panel.panel-default {
    border-bottom: 1px solid #ccc;
}
td {
    text-align: center;
}

.course-category .list-category ul > ul > li {
    /*padding-left: 10px;*/
}
.course-category .list-category ul > ul > ul > li {
    padding-left: 20px;
}
.course-category .list-category ul > ul > ul > ul > li {
    padding-left: 30px;
}
.active-green a{
    color: #009343;
    font-weight: 600;
}
#cate_name{
    display: none;
}
.blog-detail-content {
    min-height: 400px;
}
/*.course-category .list-category ul > ul > ul > ul > li .fa-caret-right {*/
    /*display: none;*/
/*}*/
.home-banner{
    width: 100%;
}
footer p {
    margin-bottom: 0px;
}
.home-news{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.title-hot {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 7px;
}
h1.title-news {
    font-size: 14px;
    margin-bottom: 9px;
    margin-top: 5px;
    /* border-bottom: 2px solid #1e9348; */
    text-transform: uppercase;
    background: #1e9348;
    padding: 5px;
    color: #fff;
}
.home-news .media img{
    width: 50%;
}
.home-news .media-body {
    font-size: 14px;
    line-height: 1.1;
}
.home-news .hot {
    margin-bottom: 10px;
}
.list-group-flush>.list-group-item {
    padding: 0;
    line-height: 1.2;
    margin-bottom: 7px;
    font-size: 14px;
}
.home-r-ads{
    margin-bottom: 30px;
}
