@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-lg .navbar-nav .nav-item {
	    margin-bottom: 0;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-top: 1.125rem;
	    padding-bottom: .875rem;
	}
	.navbar-light .navbar-nav .nav-link {
	    color: #4b566b;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.125rem;
	    padding-left: 1.125rem;
	}
	.navbar-nav .nav-link {
	    padding-top: .5rem;
	    padding-bottom: .5rem;
	}
	.nav-link {
	    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,box-shadow 0.25s ease-in-out,border-color 0.25s ease-in-out;
	    font-weight: normal;
	}
	.nav-link {
	    display: block;
	    padding: .75rem 1.25rem;
	}
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-item {
    margin-bottom: .25rem;
}
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fe696a;
}