.blog-detail-text {
	position: relative;
}

.sub-navigation {
	position: absolute;
	bottom: 0;
	right: 5px;
}

.sub-navigation ul.pagination {
	margin-bottom: 5px;
}

.sub-navigation ul.pagination .page-item .page-link {
	color: #212529;
}

.sub-navigation ul.pagination .page-item .page-link:focus {
	box-shadow: 0 0 0 0.2rem rgb(76 175 80 / 36%);
}

.sub-navigation ul.pagination .page-item.active .page-link {
	background-color: #4caf50;
    border-color: #4caf50;
    color: white;
}

.sub-navigation ul.pagination .page-item {
	margin: 0 5px;
}