@media screen and (max-width: 600px) {
    .navbar {
        padding: 0;
    }
    button.navbar-toggler {
        color: #ffffff;
    }
    .navbar-nav .nav-link {
        padding-left: 12px;
    }
    .search-trigger {
        padding-left: 13px;
    }
    form.form-inline.my-2.my-lg-0 {
        display: none;
    }

    .right-padding5 {
        margin-bottom: 10px;
   }
}

@media screen and (min-width: 768px) {
   .right-padding5 {
        padding-right: 5px;
   }

   .left-padding5 {
        padding-left: 5px;
   }
}